<p class="app-details-header">esb-app-details works!</p>

<p class="app-details-wrap">This is a dummy page and the content will be replaced with ESB application details.</p>

<a class="dashboard-page-link" href="#" (click)="goToDashboardPage($event)">Go back to Dashboard page.</a>