
@media only screen and (max-width: 767px) {
    .app-details-header{
        text-align: center;
    }
    .app-details-wrap{
        padding: 20px;
    }
    .dashboard-page-link{
        margin-left: 20px;
    }
}