<footer class="page-footer">
    <ul class="rsa-website-links">
        <li class="first"><a href="/accessibility">Accessibility</a></li>
        <li class=""><a href="/complaint-procedures">Complaint Procedures</a></li>
        <li class=""><a href="/locations">Locations</a></li>
        <li class=""><a href="/terms-conditions">Terms &amp; Conditions</a></li>
        <li class=""><a href="/your-privacy">Your Privacy</a></li>
        <li class="last"><a href="/broker-compensation-statement">Broker Compensation Statement</a></li>
    </ul>
    <ul class="rsa-social-links">
        <li class="first leaf"><a href="http://www.linkedin.com/company/rsa-canada" title="RSA Group LinkedIn page" class="linkedin" target="_blank">LinkedIn</a></li>
        <li class="leaf"><a href="https://twitter.com/rsacanada" title="RSA Twitter account" class="twitter" target="_blank">Twitter</a></li>
        <li class="last leaf"><a href="https://www.facebook.com/RSACanada/" title="RSA Facebook account" class="facebook" target="_blank">Facebook</a></li>
    </ul>
    <p class="copy-right-text">
        ©2018 Royal & Sun Alliance Insurance Company of Canada. All rights reserved.
    </p>
</footer>
