.page-footer{
    background-color: #333;
    padding: 35px 10px;
    text-align: center;
    width: 100%;
    ul.rsa-website-links{
        margin-left: 0;
        padding-left: 0;
        margin-bottom: 18px;
        list-style: none;
        >li{
            display: inline;
            line-height: 18px;
            &:after{
                color: #fff;
                content: "|";
                margin-right: 9px;
                padding-left: 10px;
            }
            &.last:after{
                content: none;
            }
            >a{
                display: inline;
                color: #fff;
                font-family: rsa_sansregular;
                font-weight: bold;
                text-decoration: underline;
            }
        }
    }
    ul.rsa-social-links{
        margin-top: 40px;
        margin-bottom: 18px;
        margin-left: 0;
        padding-left: 0;
        list-style: none;
        >li{
            display: inline;
            line-height: 18px;
            &:after{
                content: "";
                margin-right: 6px;
                padding-left: 10px;
            }
            >a{
                height: 25px;
                display: inline-block;
                padding-top: 5px;
                color: #fff;
                font-family: rsa_sansregular;
                font-weight: bold;
                text-decoration: underline;
                &.linkedin{
                    background-image: url("../../../assets/images/linkedin.png");
                    background-repeat: no-repeat;
                    padding-left: 35px;
                }
                &.twitter{
                    background-image: url("../../../assets/images/twitter.png");
                    background-repeat: no-repeat;
                    padding-left: 40px;
                }
                &.facebook{
                    background-image: url("../../../assets/images/facebook.png");
                    background-repeat: no-repeat;
                    padding-left: 35px;
                }
            }
        }
    }
    p.copy-right-text{
        margin-top: 40px;
        line-height: 1.25em;
        /* font-family: rsa_sansregular; */
        color: #999;
        font-size: 15px;
    }
}

/** ** Styles for mobile devices start here ** **/
@media only screen and (max-width: 767px) {
    .page-footer{
        padding: 40px 10px;
        ul.rsa-website-links{
            >li{
                display: list-item;
                padding-top: 25px;
                &.first{
                    padding-top: 0;
                }
                &:after{
                    content: none;
                }
                >a{
                    display: block;
                }
            }
        }
        ul.rsa-social-links{
            >li{
                margin-bottom: 17px;
                display: list-item;
            }
        }
    }
}
/** ** Styles for mobile devices end here ** **/