table {
    width: 100%;
}

.mat-form-field {
    font-size: 14px;
    width: 100%;
}

td, th {
    width: 25%;
}

.data-table-wrapper{
    border: 1px solid #cac6c6;
    box-shadow: 1px 2px #cfcfcf;
    .app-list-title-container{
        position: relative;
        background-color: #dd4b39;
        font-size: 18px;
        border-radius: 2px;
        border: 1px solid #c06e63;
        >i{
            position: absolute;
            color: #fff;
            top: 14px;
            left: 12px;
        }
        .app-list-title{
            display: inline-block;
            padding: 10px 30px 10px 45px;
            background-color: #d73925;
            color: #fff;
        }
    }
    .env{
        padding: 5px; 
    }
    .app-name {
        font-weight: bold;
        font-style: italic;
        font-style: 14px;
        color: rgba(0,0,0,.54);
    }
    .status{
        padding: 5px;
        &::before{
            content: ' ';
            width: 10px;
            height: 10px;
            display: inline-block;
            margin-right: 5px;
        }
        &.status-red::before{
            background-color: red;
        }
        &.status-green::before{
            background-color: green;
        }
        &.status-blue::before{
            background-color: blue;
        }
    }
}

@media only screen and (max-width: 767px) {
    .data-table-wrapper{
        th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
            padding-left: 10px;
        }
        th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
            padding-right: 7px;
        }
        .app-list-title-container{
            background-color: #dd4b39;
            font-size: 18px;
            i{
                top: 10px;
            }
            .app-list-title{
                padding: 6px 10px 6px 43px;
                font-size: 16px;
            }
        }
        .description{
            font-size: 11px;
        }
        .app-name{
            font-size: 10px;
        }
        .status::before{
            content: none;
        }
        
    }
}