<div class="top-apps">
    <div class="top-apps-header">
        <i class="fa fa-minus-circle"></i>
        <h3>Top Applications getting affected on regular basis</h3>
    </div>
    <div class="top-apps-body">
        <div class="timeline-alt pb-0" tag="div">
            <div class="timeline-item" tag="div" *ngFor="let topApp of topApps; let odd=odd; let i=index;">
                <!--<i class="fa fa-dot-circle-o bg-info-lighten text-info timeline-icon"></i>-->
                <i class="bg-info-lighten text-info timeline-icon">{{i+1}}</i>
                <div class="timeline-item-info">
                    <a href="/" class="{{ odd ? 'text-info-type-2' : 'text-info-type-1' }}" >
                        {{topApp.name}}
                    </a>
                    <small>{{topApp.environment}} Environment</small>
                    <p class="mt-0 mb-0 pb-2"><small class="text-muted"><strong>{{topApp.downCount}}</strong> times down in last 30 days</small></p>
                </div>
            </div>
        </div>
    </div>
</div>

