.app-container{
    //padding: 40px 100px;
}
.mat-button-toggle {
    //border: 1px solid #f28628;
    border-radius: 2px;
    font-family: 'Nunito Semibold', sans-serif;
    font-size:  14px;
    font-size: bold;
}
@media only screen and (max-width: 767px) {
    .app-container {
        padding: 0;
        header{
            margin-top: 25px;
            margin-bottom: 25px;
            text-align: center;
        }
    }
}