.app-header{
    height: 124px;
    border-top: 5px solid #cd0084;
    border-bottom: 1px solid #ccc;
    padding: 25px 50px;
    >img{
        display: none;
    }
}

/** ** Styles for mobile devices start here ** **/
@media only screen and (max-width: 767px) {
    .app-header{
        padding: 15px 20px 25px 20px;
        height: 90px;
    }
}
/** ** Styles for mobile devices end here ** **/